extends ../layout

block content
  .main.container
    .row
      .justify-content-center
        h1.display-4.mb-2 #{__('users.form.sign_in')}
        form(method='POST' action='/auth/sign_in').mb-4
          +input('username', {
            label: __('users.form.email'),
            placeholder: 'test@example.com',
          })
          +input('password', {
            label: __('users.form.password'),
            placeholder: 'password',
            as: 'password',
          })
          button.btn.btn-primary(type='submit')= __('users.form.sign_in')
        a.btn.btn-outline-primary.btn-block.mt-3(href='/auth/github')
          i.fab.fa-github.mr-2
          | #{__('users.form.github_auth')}
