extends ../layout

block content
  .main.container
    .row
      .justify-content-center
        h1.display-4.mb-2 #{__('users.form.sign_up')}
        form(method='POST' action='/auth/sign_up')
          +input('firstname', {
            label: __('users.form.first_name'),
            placeholder: __('users.form.first_name'),
          })
          +input('lastname', {
            label: __('users.form.last_name'),
            placeholder: __('users.form.last_name'),
          })
          +input('email', {
            label: __('users.form.email'),
            placeholder: 'email',
          })
          +input('password', {
            label: __('users.form.password'),
            placeholder: 'password',
            as: 'password',
          })
          +input('confirmpassword', {
            label: __('users.form.password_confirmation'),
            placeholder: 'password',
            as: 'password',
          })
          button.btn.btn-primary(type='submit')= __('users.form.sign_up_action')
