extends ../layout

block content
  .main.container
    .row
      .justify-content-center
        h1.display-4.mb-2 #{__('users.form.sign_up')}
        form(method='POST' action='/auth/sign_up')
          +input(formdata, 'firstname', {
            label: __('users.form.first_name'),
          })
          +input(formdata, 'lastname', {
            label: __('users.form.last_name'),
          })
          +input(formdata, 'email', {
            label: __('users.form.email'),
            placeholder: 'Email',
          })
          +input(formdata, 'password', {
            label: __('users.form.password'),
            placeholder: 'Password',
            as: 'password',
          })
          +input(formdata, 'confirmpassword', {
            label: __('users.form.password'),
            placeholder: 'Confirm password',
            as: 'password',
          })
          button.btn.btn-primary(type='submit') Register
