doctype html
html(lang='ru').h-100

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimal-ui')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(href='/css/index.css', rel='stylesheet')
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', rel='stylesheet')
    title #{__('app.title')}
    block head

  body.d-flex.flex-column.h-100
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="/").mr-5 HexletInterview
      .collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="/request") #{__('app.requests')}
          li.nav-item
            a.nav-link(href="/interview") #{__('app.interviews')}
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/user/sign_in')
              div Войти
          li.nav-item
            a.nav-link(href='/user/sign_up')
              div Регистрация

    block content

    footer.footer.mt-auto
      .container
        p © Hexlet
