extends ../layout

block content
  .container
    .row
      .col-md-12
        .error-template
          h1 Oops!
          h2 404 Not Found
        .error-details Sorry, an error has occured, Requested page not found!